openapi: 3.2.0
info:
  title: Optimyzee Application App/Create/Google Ads/Search Creation AI API
  version: 4.1.0
  x-original-title: API
  description: App/Create/GoogleAds/SearchCreationAi
servers:
- url: https://api.optimyzee.com
  description: Production (host serving this document at /docs)
tags:
- name: App/Create/GoogleAds/SearchCreationAi
  description: App/Create/GoogleAds/SearchCreationAi
paths:
  /app/create/g/searchCreationAi/{draftId}/keywordPlanner:
    post:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiBuildKeywordPlanner
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - source
              properties:
                source:
                  type: string
                  enum:
                  - ai
                  - manual
                  - merge
                  example: ai
                manualKeywords:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                  example:
                  - emergency plumber near me
                  - water heater installation
              type: object
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdSchema'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
  /app/create/g/searchCreationAi/{draftId}/rsa-builder:
    post:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiBuildRsaAds
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdSchema'
      security:
      - token: []
  /app/create/g/searchCreationAi/{draftId}/stag-builder:
    post:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiBuildStagStructure
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - keyword_ids
              - campaign_type
              properties:
                keyword_ids:
                  type: array
                  items:
                    type: integer
                campaign_type:
                  type: string
                  enum:
                  - high_intent
                  - competitor_brands
                campaign_name:
                  type:
                  - string
                  - 'null'
                max_cpc:
                  type:
                  - number
                  - 'null'
                  format: float
                landing_page_url:
                  type:
                  - string
                  - 'null'
              type: object
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdSchema'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
  /app/create/g/searchCreationAi:
    post:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - url
              properties:
                url:
                  type: string
                linkingId:
                  type:
                  - integer
                  - 'null'
                languages:
                  type:
                  - array
                  - 'null'
                  items:
                    type: integer
                locations:
                  type:
                  - array
                  - 'null'
                  items:
                    type: integer
                knownCompetitors:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                exclusions:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
              type: object
      responses:
        '201':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdSchema'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
  /app/create/g/searchCreationAi/{draftId}/status:
    get:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiStatus
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
  /app/create/g/searchCreationAi/{draftId}:
    get:
      tags:
      - App/Create/GoogleAds/SearchCreationAi
      operationId: appCreateGoogleAdsSearchCreationAiView
      parameters:
      - name: draftId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
components:
  schemas:
    ErrorSchema:
      required:
      - errors
      properties:
        error:
          type: string
        message:
          type:
          - string
          - 'null'
      type: object
    IdSchema:
      required:
      - id
      properties:
        id:
          type: integer
      type: object
  securitySchemes:
    token:
      type: apiKey
      description: Bearer token authorization
      name: authorization
      in: header
