openapi: 3.2.0
info:
  title: Optimyzee Application App/Auth/Password API
  version: 4.1.0
  x-original-title: API
  description: App/Auth/Password
servers:
- url: https://api.optimyzee.com
  description: Production (host serving this document at /docs)
tags:
- name: App/Auth/Password
  description: App/Auth/Password
paths:
  /app/auth/password/reset:
    post:
      tags:
      - App/Auth/Password
      operationId: appAuthPasswordReset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - email
              - token
              - password
              properties:
                email:
                  type: string
                token:
                  type: string
                password:
                  type: string
              type: object
      responses:
        '204':
          description: Successful
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBagSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
  /app/auth/password/sendResetLink:
    post:
      tags:
      - App/Auth/Password
      operationId: appAuthPasswordSendResetLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - email
              properties:
                email:
                  type: string
              type: object
      responses:
        '204':
          description: Successful
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBagSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
components:
  schemas:
    ErrorSchema:
      required:
      - errors
      properties:
        error:
          type: string
        message:
          type:
          - string
          - 'null'
      type: object
    ErrorBagSchema:
      required:
      - errors
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      type: object
  securitySchemes:
    token:
      type: apiKey
      description: Bearer token authorization
      name: authorization
      in: header
