openapi: 3.2.0
info:
  title: Optimyzee Application App/Free Limit API
  version: 4.1.0
  x-original-title: API
  description: App/FreeLimit
servers:
- url: https://api.optimyzee.com
  description: Production (host serving this document at /docs)
tags:
- name: App/FreeLimit
  description: App/FreeLimit
paths:
  /app/campaign/free-limit-check:
    get:
      tags:
      - App/FreeLimit
      operationId: appFreeLimitCheck
      parameters:
      - name: action_key
        in: query
        description: 'Ex: publish.campaign, start.optimization, report.generate...'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful check
          content:
            application/json:
              schema:
                required:
                - available
                properties:
                  available:
                    type: boolean
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBagSchema'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
      security:
      - token: []
components:
  schemas:
    ErrorSchema:
      required:
      - errors
      properties:
        error:
          type: string
        message:
          type:
          - string
          - 'null'
      type: object
    ErrorBagSchema:
      required:
      - errors
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      type: object
  securitySchemes:
    token:
      type: apiKey
      description: Bearer token authorization
      name: authorization
      in: header
